<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ЄШкода - Зареєструватись</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="row justify-content-center">
    <div class="col-6">
        <form method="post" action="/auth/register" th:object="${user}">
            <div class="mb-3">
                <label class="form-label" for="login">Логін</label>
                <input class="form-control" id="login" th:field="*{credentials.login}"
                       pattern="^[a-zA-Z0-9_]{3,30}$" autofocus required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Пароль</label>
                <input class="form-control" type="password" id="password" th:field="*{credentials.password}"
                       pattern="^[a-zA-Z0-9!@#$%^&*()_=+]{6,36}$" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Електронна адреса</label>
                <input class="form-control" type="email" id="email" th:field="*{credentials.email}" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="first_name">Ім'я</label>
                <input class="form-control" type="text" id="first_name" th:field="*{information.firstName}" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="second_name">Прізвище</label>
                <input class="form-control" type="text" id="second_name" th:field="*{information.surname}" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="middle_name">По батькові(за наявності)</label>
                <input class="form-control" type="text" id="middle_name" th:field="*{information.middleName}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="taxpayer_code">РНОКПП</label>
                <input class="form-control" type="text" id="taxpayer_code" th:field="*{information.taxpayerCode}"
                       required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="passport_series">Серія паспорту(за наявності)</label>
                <input class="form-control" type="text" id="passport_series" th:field="*{information.passportSeries}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="passport_code">Код паспорту</label>
                <input class="form-control" type="number" id="passport_code" th:field="*{information.passportCode}"
                       required>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Зарєструватись">
            </div>
        </form>
    </div>
</div>
</body>
</html>