<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ЄШкода - Реєстр мого майна</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<table>
    <h3>Реєстр майна</h3>
    <tr>
        <th>Тип майна</th>
        <th>Адреса</th>
        <th>Стан</th>
    </tr>
    <tr th:each="declaration : ${declarations}">
        <td th:text="${declaration.propertyType.name}"></td>
        <td th:text="${declaration.address}"></td>
        <td th:text="${declaration.status}"></td>
    </tr>
</table>
</body>
</html>