<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login user</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<form method="post" action="/users/register" th:object="${user}">
    <label for="passport_code">Passport code</label>
    <input type="text" id="passport_code" th:field="*{passportCode}">
    <input type="submit" value="Send">
</form>
</body>
</html>