<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ЄШкода - Список користувачів</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<table>
    <tr>
        <th>ID</th>
        <th>Роль</th>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>По батькові</th>
        <th>РНОКПП</th>
        <th>Серія паспорту</th>
        <th>Код паспорту</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="userInformation : ${userList}">
        <td th:text="${userInformation.id}"></td>
        <td th:text="${userInformation.role.name}"></td>
        <td th:text="${userInformation.firstName}"></td>
        <td th:text="${userInformation.surname}"></td>
        <td th:text="${userInformation.middleName}"></td>
        <td th:text="${userInformation.taxpayerCode}"></td>
        <td th:text="${userInformation.passportSeries}"></td>
        <td th:text="${userInformation.passportCode}"></td>
        <td>
            <a th:href="@{{id}/edit (id=${userInformation.id})}">редагувати</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/users/{id} (id=${userInformation.id})}">
                <input type="submit" value="видалити">
            </form>
        </td>
    </tr>
</table>
</body>
</html>