<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ЄШкода - Про нас</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<section id="section1" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Чому ми</h2>
        <p>Уряд ухвалив порядок надання державної допомоги на ремонт пошкодженого житла. Він передбачає надання громадянам, чиє житло було пошкоджено внаслідок збройної агресії рф, державної допомоги на поточний ремонт житла.</p>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
</section>

<section id="section2" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <h2>Хто зможе скористатись послугою?</h2>
        <p>Усі громадяни України, чиє житло було пошкоджено внаслідок бойових дій, не було відремонтоване раніше і підлягає відновленню. Це, зокрема, стосується квартир, приватних будинків та інших житлових приміщень, наприклад кімнат в гуртожитку.</p>
      </div>
    </div>
  </div>
</section>

<section id="section3" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <h2>Пріоритет надаватиметься:</h2>
        <p>учасникам бойових дій;</p>
        <p>людям з інвалідністю внаслідок війни;</p>
        <p>ветеранам війни;</p>
        <p>членам сімей загиблих військових;</p>
        <p>мобілізованим;</p>
        <p>багатодітним родинам;</p>
      </div>
    </div>
  </div>
</section>

</body>
<div th:insert="~{fragments/footer :: footer}"></div>
</html>